<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1">
    <test name="TripAction">
        <classes>
            <class name="tripAction.testcases.Bookings">
                <methods>
                    <include name = "searchHotels"/>
                    <include name = "testAssertions"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>